body{
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#logo{
position: absolute;
width: 160px;
height: 36.02px;
left: 60px;
top: 60px;
}
.img1{

    position: absolute;
    left: 0%;
    right: 78.34%;
    top: 50.12%;
    bottom: -8.13%;
    background: #3766E8;
    border-radius: 100px;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
}
.img2{
position: absolute;
left: 23.31%;
right: 55.02%;
top: 18.03%;
bottom: -6.3%;
background: #3766E8;
border-radius: 100px;
transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
}

.img3{
    position: absolute;
left: 59.92%;
right: 18.42%;
top: 11.96%;
bottom: 43.15%;
background: #3766E8;
border-radius: 100px;
transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
}

.form{
    max-width: 330px;
    height: 500px;
    margin: auto;
    border-radius: 5px;
    background: white;
    /* padding: 15px; */
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 70px;
    position: absolute;
    left: 500px;
   
}

 h1{
    width: 345px;
    height: 67px;
    left: 0px;
    top: 72px;
    display: block;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    margin: 19px 0px;
    color: #212121;
}

 p{
width: 345px;
height: 37px;
left: 0px;
top: 148px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 15px;
text-align: center;
color: #545454;
/* flex: none; */
order: 1;
/* flex-grow: 0; */
margin: 20px 0px;
}

input[type=text], select{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: gray;
}

input[type=submit]{
    width: 100%;
    background: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background: #003;
}

.btn{
    padding-top: 10px;
    padding-bottom: 20px;
}

button:hover{
    background: blue;
}

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 10px; 
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
} 
.line1{
    height: 27.84px;
    width: 11.05px;
    top: 24.06px;
    border-radius: 100px;
    right: 78.34%;
    bottom: -8.13%;
    background: #3766E8;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);


}
.line2{
    height: 42.37px;
    width: 11.05px;
    left: 11.89px;
    top: 8.65px;
    border-radius: 100px;
    right: 55.02%;
    bottom: -6.3%;
    background: #3766E8;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);

    
}
.line3{
    width: 11.05px;
    height: 21.55px;
    left: 30.56px;
    top: 5.74px;
    border-radius: 100px;
    position: absolute;
    right: 18.42%;
    left: 52.92%;
    top: 4.96%;
    bottom: 43.15%;
    background: #3766E8;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);

}